* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.resume {
    border: 2px solid black;
    width: 900px;
    margin: 10px auto;
    padding: 0 7px;
}
header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px
}
.info {
    text-align: center;
    font-size: 12px;
}
p {
    margin: 0;
}
.divider {
    border-bottom: 1px solid black;
    margin: 2px 0;
    clear: right;
}
.bold {
    font-weight: 600;
}
.right {
    float: right;
}
.lg {
    height: 10px;
}
.lg, .md {
    background-color: black;
    border: 0;
}
.md {
    height: 5px;
}
.sm-text {
    font-size: 0.85rem;
}
.section-info h1 {
    margin: -5px -2px;
    overflow: hidden;
}
.section-info {
    font-size: 1.2em;
    margin-top: 8px;
}
.indent {
    margin-left: 1em;
}
.dbl-indent {
    margin-left: 2em;
}
.trip-indent {
    margin-left: 3em;
}
.quad-indent {
    margin-left: 4em;
}
.five-indent {
    margin-left: 5em;
}
.six-indent {
    margin-left: 6em;
}
.seven-indent {
    margin-left: 7em;
}
.eight-indent {
    margin-left: 8em;
}
.main-content p:not(.no-divider) {
    border-bottom: 1px solid white;
}
.bullet {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
}
.print {
    font-size: 0.6rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
}
/* If what ever reason you wanna view this in a smaller window... */
@media (max-width: 900px) {
    .resume {
        width: 700px;
    }
}
@media (max-width: 700px) {
    .resume {
        width: 500px;
    }
}